<form action="/createProduct" method="post">
    <input type="text" name="name" placeholder="Product Name"><br>
    <input type="number" name="price" placeholder="Product Price"><br>
    <input type="text" name="photo" placeholder="Product Photo"><br>
    <input type="text" name="description" placeholder="Product Description"><br>
    <button type="submit">Submit</button>
</form>